.grid-c6 .grid-item-fill {
    width: 60%;
    height: 10px;
    background-color: var(--clr-pumpkin);
    border-radius: 100vh;
  }

  .grid-common-1 {
    background-color: var(--clr-primary);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
    color: var(--clr-white);
    padding: 24px;
  }
  
  .grid-c-title-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  
  .grid-c-title-text-1 {
    font-weight: 400;
    color: var(--clr-silver);
  }
  
  .grid-c-title-icon-1 img {
    width: 24px;
  }

  .subgrid-two-item{
    max-width: 280px;
    margin: 5px;
  }

  .grid-c-title-icon{
    margin: 0;
  }